.margin-div{
    margin-right: 30px;
}

.form{
    margin-left: 49px;
    width: 48%;
    margin-top: 20px;
    display: block;
}

.button-div{
    display: flex;
    align-items: center;
}

.table{
    width: 45%;
    margin-left: 53px;
}

.filtros{
    padding-left: 2%;
}

.filtros{
    padding-right: 49%;
}

.fecha{
    padding-right: 3%;
}