.margin-div{
    margin-right: 30px;
}

.form{
    display: flex;
    margin-left: 49px;
    width: 48%;
    margin-top: 20px;
}

.button-div{
    display: flex;
    align-items: center;
}

.table{
    width: 45%;
    margin-left: 53px;
}

.mat-column-nombre{
    width: 20%;
}

.mat-column-edad{
    width: 20%;
}

.mat-column-cargo{
    width: 20%;
}

.mat-column-fechaIngreso{
    width: 20%;
}
