.margin-div{
    margin-right: 30px;
}

.form{
    display: flex;
    margin-left: 49px;
    width: 48%;
    margin-top: 20px;
}

.button-div{
    display: flex;
    align-items: center;
}

.table{
    width: 45%;
    margin-left: 53px;
}
