<!-- <div style="height: 100%;">  -->
  
  <!-- <div style="background-color: #cecece; padding: 33px; height: 100% !important" >  -->
  
    <mat-card class="mat-card-principal" class="fondo" style="    height: 100%;
    background-color: #cecece;
    background-repeat: none;
    /* background-position: center; */
    background-repeat: round;">
      
      <div class="bienvenida" style="display: contents;">
        <h1 class="mensaje">Bienvenido al módulo de Inventario!</h1>
  
        <h3>En este módulo podrá hacer movimientos del inventario</h3>
      </div>
  
      <!-- <mat-card class="mat-card-secundary" src="./assets/tire.png" > -->
        <div (click)="menu()" style="text-align: center; margin-top: 6%;">
          <img src="./assets/tire.png" >
        </div>
    <!-- <span>Inventario</span> -->
      <!-- </mat-card> -->
    </mat-card>
  <!-- </div> -->
<!-- </div> -->
